
/*  Estilos de los botones  */
.boton {
    -fx-background-color: #115bce;
    -fx-text-fill: white;
    -fx-border-color: #115bce;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.boton:hover {
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.1, 0.0, 0.0);
    -fx-background-color: #2476f6;
}

.boton:armed {
    -fx-background-color: #154acc;
}

.boton:focused {
    -fx-border-color: #84aaee;
}

.botonRefresh {
    -fx-background-color: none;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.1, 0.0, 0.0);
    -fx-opacity: 0.5;
}

.botonRefresh:hover {
    -fx-opacity: 0.8;
}

.botonRefresh:armed {
    -fx-opacity: 1;
}

.botonRojo {
    -fx-background-color: #c20000;
    -fx-text-fill: white;
    -fx-border-color: #c20000;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.botonRojo:hover {
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.1, 0.0, 0.0);
    -fx-background-color: #ff0000;
}



.botonRojo:armed {
    -fx-background-color: #ad0404;
}

.botonRojo:focused {
    -fx-border-color: #670000;
}

/*  Imagen de fondo de las ventanas   */
.ventana {
    -fx-background-color: 2px;
}

/*  Estilos TableView  */

.table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-width: 0px;
}



.table-view .column-header {
    -fx-background-color: #0061a6;
}
.column-header .label {
    -fx-text-fill: white;
}
.table-view .arrow {
    -fx-mark-color: white;
}






.jfx-slider > .track {
    -fx-background-color: yellow;
}

.jfx-slider > .thumb {
    -fx-background-color: blue;
}

.jfx-slider > .colored-track {
    -fx-background-color: blue;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: blue;
}

.jfx-slider .slider-value {
    -fx-fill: yellow;
    -fx-stroke: yellow;
}

.jfx-date-picker {
    -jfx-default-color: blue;
    -jfx-overlay: true;
}

.disable:disabled {
    -fx-opacity: 1;
}
